{% extends 'admin/base.html.twig' %}


{% block title %}
	Mantor index
{% endblock %}

{% block body %}
	<h1 class="mt-5">
		Mantor index
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Image
				</th>
				<th>
					Title
				</th>
				<th>
					Descriptions
				</th>
				<th>
					actions
				</th>
			</tr>
		</thead>
		<tbody></tbody>

		{% for mantor in mantors %}
			<tr>
				<td>
					{{ mantor.id }}
				</td>
				<td>
					{{ mantor.image }}
				</td>
				<td>
					{{ mantor.title }}
				</td>
				<td>
					{{ mantor.descriptions }}
				</td>
				<td>
					<a class="btn btn-info" href="{{ path( 'mantor_show', { id: mantor.id } ) }}">
						show
					</a>

					<a class="btn btn-success" href="{{ path( 'mantor_edit', { id: mantor.id } ) }}">
						edit
					</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">
					no records found
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a class="btn btn-success" href="{{ path('mantor_new') }}">Create new</a>{% endblock %}
