{% extends 'admin/base.html.twig' %}


{% block title %}
	Award index
{% endblock %}

{% block body %}
	<h1 class="mt-5">
		Award index
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Titre
				</th>
				<th>
					Content
				</th>
				<th>
					Image
				</th>
				<th>
					Date de creation
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			{% for award in awards %}
				<tr>
					<td>
						{{ award.id }}
					</td>
					<td>
						{{ award.title }}
					</td>
					<td class ="pl-3 pr-3 text-break">
						{{ award.conten }}
					</td>
					<td>
						{{ award.imag }}
					</td>
					<td>
						{{ award.createAd ? award.createAd|date('Y-m-d H:i:s') : '' }}
					</td>
					<td>
						<a class="btn btn-info" href="{{ path( 'award_show', { id: award.id } ) }}">
							show
						</a>

						<a class="btn btn-success" href="{{ path( 'award_edit', { id: award.id } ) }}">
							edit
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">
						no records found
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-success" href="{{ path('award_new') }}">Create new</a>

	<div class="d-flex justify-content-center">
		<ul class="pagination">
			<li class="page-item {% if page == 1 %} disabled {% endif %}">
				<a class="page-link" href="{{path('award_index', {'page': page - 1})}}">&laquo;</a>

			</li>
			{% for i in 1..pages %}

				<li class="page-item {% if page == i %} active {% endif%}">
					<a class="page-link" href="{{path('award_index', {page : i})}}">{{i}}</a>

				</li>
			{% endfor %}

			<li class="page-item {% if page == pages %} disabled {% endif %}"></li>


			<a class="page-link" href="{{path('award_index', {'page': page + 1})}}">&raquo;</a>

		</li>
	</ul>
</div>{% endblock %}

